<div class="col-5 col-lg-4">
<% if @recipe.mainvisual.present? %>
  <div class="input-group mb-3">
  <%= image_tag @recipe.mainvisual.url(:thumb300), class: "img-fluid", width: 300, height: 300, loading: "lazy" %>
    <%= f.file_field :mainvisual, class: "form-control", id: "mainvisual-File" %>
    <%= f.label "upload", class: "input-group-text", for: "mainvisual-File" %>
  </div>
<% else %>
  <div class="input-group mb-3">
    <%= f.file_field :mainvisual, class: "form-control", id: "mainvisual-File" %>
    <%= f.label "upload", class: "input-group-text", for: "mainvisual-File" %>
  </div>
<% end %>
</div>
<script>
$(function() {
  $('input[type=file]').before('<span></span>');

  // アップロードするファイルを選択
  $('input[type=file]').change(function() {
    var file = $(this).prop('files')[0];

    // 画像以外は処理を停止
    if (! file.type.match('image.*')) {
      // クリア
      $(this).val('');
      $('span').html('');
      return;
    }

    // 画像表示
    var reader = new FileReader();
    reader.onload = function() {
      var img_src = $('<img>').attr('src', reader.result);
      $('span').html(img_src);
    }
    reader.readAsDataURL(file);
  });
});
</script>

<div class="col-7 col-lg-8">

<div class="mb-3">
  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title, class: "form-control", placeholder: "レシピ名を入力してください" %>
</div>
<div class="mb-3">
  <%= f.label :description, class: "form-label" %>
  <%= f.text_area :description, class: "form-control", rows: "5", placeholder: "レシピの説明を入力してください" %>
</div>
<div class="mb-3 col-3">
  <%= f.label :serves, class: "form-label" %>
  <%= f.text_field :serves, class: "form-control", placeholder: "例）3~4人分" %>
</div>
</div>
