<% provide(:title, "レシピ一覧") %>
<div id="recipes_index-container">
<div class="container-md m-auto">
<div class="row">
<article class="col-12 col-md-8">
<div class="recipes_index">
<div class="title-container">
  <h1 class="headline"><%= yield(:title) %></h1>
</div>
<% @recipes.each do |recipe| %>
  <section class="recipe-item">
  <%= link_to recipe, class: "d-flex flex-row align-items-center recipe-link" do %>
    <figure class="recipe-thumbnail">
    <% if recipe.mainvisual? %>
      <%= image_tag recipe.mainvisual.url(:thumb250_300), loading: "lazy", width: 160, height: 160 %>
    <% else %>
      <div class="skeleton" style="background-color:#f0f0f0; width:160px; height:160px;">
    <% end %>
    </figure>

    <div class="recipe-detail">
      <%= content_tag :h2, recipe.title, class: "title" %>
      <%= content_tag :time, recipe.created_at.strftime("%Y.%m.%d") %>
    </div>
  <% end %>
  </section>
<% end %>
</div>
</article>
<%= render "shared/sideBar-menu" %>
</div>
</div>
</div>
