<% provide(:title, "レシピの新規作成") %>
<div id="recipe_new-container">
<div class="container">
<div class="row">
<%= render "shared/error_messages" %>
<h1 class="title text-center"><%= yield(:title) %></h1>
<div class="col-12 col-md-10 col-lg-8 m-auto recipe_post-container">
<%= form_with(model: @recipe, class: "row", local: true) do |f| %>
<%= render "recipes/form", f: f %>
<div class="">
<h2>材料</h2>
</div>

<div class="recipe-ingredients">
<div class="m-auto">
<%= f.fields_for :recipe_ingredients do |t| %>
<%= render "recipes/recipe_ingredient_fields", f: t %>
<% end %>
<div id="detail-association-insertion-point"></div>

  <%= link_to_add_association "材料を追加", f, :recipe_ingredients,
    class: "btn btn-success btn-block mb-3",
      data: {
        association_insertion_node:
          "#detail-association-insertion-point",
        association_insertion_method: 'after'
      }
  %>
</div>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
<%= f.submit "投稿する", class: "btn btn-primary p-3 fw-bold fs-5" %>
</div>
</div>
<% end %>
</div>
</div>
</div>
</div>
