<div id="home-container">
<div class="container-fluid">
<div class="row">
<div class="col-12 mainVisaul_slider">
 <ul id="slider">
  <li class="slider-item" role="img" aria-label="トップメインビジュアル01"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル02"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル03"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル04"></li>
  <li class="slider-item" role="img" aria-label="トップメインビジュアル05"></li>
</ul>
<div class="container">
  <div class="row mainVisual-headline-container align-items-center">
    <div class="col-12 mainVisual-headline">
        <h1 class="top-headline">For All People Who <br>Enjoy Cooking<span class="d-block">料理を楽しむすべての人々のために</span></h1>
        <%= link_to "会員登録する", :root, class: "btn btn-signup font-weight-bold" %>
      </div>
  </div>
</div>
</div>
</div>
</div>
<div id="home-recipes-container" class="container-md m-auto">
<div class="row">
<article class="col-12 col-md-8">
<div class="recipes_index">
<% @recipes.each do |recipe| %>
<section class="recipe-item">
  <%= link_to recipe, class: "d-flex flex-row align-items-center recipe-link" do %>
    <figure class="recipe-thumbnail">
    <% if recipe.mainvisual? %>
      <%= image_tag recipe.mainvisual.url(:thumb250_300), loading: "lazy", width: 160, height: 160 %>
    <% else %>
      <div class="skeleton" style="background-color:#f0f0f0; width:160px; height:160px;">
    <% end %>
    </figure>

    <div class="recipe-detail">
      <%= content_tag :h2, recipe.title, class: "title" %>
      <%= content_tag :time, recipe.created_at.strftime("%Y.%m.%d") %>
    </div>
  <% end %>
  </section>
<% end %>
</div>
</article>
<%= render "shared/sideBar-menu" %>
</div>
</div>



</div>
