<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/meta-tag" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "shared/flash-messages" %>
    <main>
      <%= yield %>
    </main>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
